@page "/ScanDetails/{ScanId:int}"
@using System.Globalization
@using LintingResults.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<LintingDbContext> ContextFactory
<h1>ScanDetails</h1>

    
@if (result != null)
{
    <p>Scan on @result.dateInserted</p>
    <FluentTabs Orientation="Orientation.Vertical">
        @foreach(var (book, chapters) in result.LintingItems.OrderBy(i => bibleBookAbbreviations.IndexOf(i.Key.ToUpper())))
        {
            <FluentTab Label="@book">
                @foreach(var (chapter, verses) in chapters)
                {
                    if (chapter == "Unknown")
                    {
                        if (book == "Unknown")
                        {
                            <h3>Miscellaneous things </h3>
                        }
                        else
                        {
                            <h3>Book level or unknown chapter</h3>
                        }
                    }
                    else
                    {
                        <h3>@chapter</h3>
                    }
                    <ul>
                        @foreach(var verse in verses)
                        {
                            <li>
                                <div>@verse.verse @verse.message</div>
                            </li>
                        }
                    </ul>
                }
        </FluentTab>
        }
    </FluentTabs>
}
else
{
    <p>Scan not found, you probably have a broken link</p>
}

@code {
   [Parameter] 
    public int ScanId { get; set; }
    
    LintingResultDBModel? result;

    protected override void OnInitialized()
    {
        using var context = ContextFactory.CreateDbContext();
        result = context.LintingResults.FirstOrDefault(i => i.LintingResultDBModelId == ScanId);
    }

    List<string> bibleBookAbbreviations = new List<string>
    {
    // Old Testament
    "GEN", "EXO", "LEV", "NUM", "DEU", "JOS", "JDG", "RUT", "1SA", "2SA",
    "1KI", "2KI", "1CH", "2CH", "EZR", "NEH", "EST", "JOB", "PSA", "PRO",
    "ECC", "SNG", "ISA", "JER", "LAM", "EZK", "DAN", "HOS", "JOL", "AMO",
    "OBA", "JON", "MIC", "NAM", "HAB", "ZEP", "HAG", "ZEC", "MAL",

    // New Testament
    "MAT", "MRK", "LUK", "JHN", "ACT", "ROM", "1CO", "2CO", "GAL", "EPH",
    "PHP", "COL", "1TH", "2TH", "1TI", "2TI", "TIT", "PHM", "HEB",
    "JAS", "1PE", "2PE", "1JN", "2JN", "3JN", "JUD", "REV"
    };


}